In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as pt

In [3]:
df=pd.read_csv("C:/Users/dell ap/Downloads/Datasets (1)e7e7eed/Datasets/Inflight Service_Inventory data.csv")

In [4]:
df.head(5)

,flight_number,departure_station_code,arrival_station_code,scheduled_departure_dtl,entree_product_id,entree_description,entree_code,planned_entree_count,consumed_entree_count
0,2634,IAX,PDX,9/1/2022,58019,Belgium waffle,WF,20,32
1,2666,ORX,IAX,9/1/2022,60549,Vegetarian chili and polenta cake,V,3,0
2,2310,DEX,SAX,9/2/2022,58981,Scrambled eggs,O,9,7
3,1712,SFX,CLX,9/4/2022,58764,Mediterranean Falafel Bowl,V,1,0
4,1225,LAX,HNX,9/8/2022,60549,Vegetarian chili and polenta cake,V,1,0

In [5]:
df.dtypes

flight_number               int64
departure_station_code     object
arrival_station_code       object
scheduled_departure_dtl    object
entree_product_id           int64
entree_description         object
entree_code                object
planned_entree_count        int64
consumed_entree_count       int64
dtype: object

In [6]:
df['scheduled_departure_dtl']=(df['scheduled_departure_dtl'].astype('datetime64'))

In [7]:
df.head(15)

,flight_number,departure_station_code,arrival_station_code,scheduled_departure_dtl,entree_product_id,entree_description,entree_code,planned_entree_count,consumed_entree_count
0,2634,IAX,PDX,2022-09-01,58019,Belgium waffle,WF,20,32
1,2666,ORX,IAX,2022-09-01,60549,Vegetarian chili and polenta cake,V,3,0
2,2310,DEX,SAX,2022-09-02,58981,Scrambled eggs,O,9,7
3,1712,SFX,CLX,2022-09-04,58764,Mediterranean Falafel Bowl,V,1,0
4,1225,LAX,HNX,2022-09-08,60549,Vegetarian chili and polenta cake,V,1,0
5,2637,CLX,MCX,2022-09-12,58019,Belgium waffle,WF,16,16
6,1691,DEX,SAX,2022-09-12,58574,Belgium waffle,WF,6,2
7,592,SEX,EWX,2022-09-13,60983,Zatar chicken,C,22,22
8,1618,LAX,ORX,2022-09-13,60987,Impossible Meatball Bowl,V,7,4
9,2087,IAX,LAX,2022-09-13,60983,Zatar chicken,C,10,9
10,1508,DEX,SAX,2022-09-14,61360,Brioche cheeseburger,B,6,6
11,1572,IAX,BOX,2022-09-16,61360,Brioche cheeseburger,B,1,0
12,1685,SFX,LIX,2022-09-17,61360,Brioche cheeseburger,B,1,0
13,1946,MSX,DEX,2022-09-18,60983,Zatar chicken,C,20,16
14,2662,ORX,BZX,2022-09-20,58272,Horchata steel cut oatmeal,OM,2,0

In [8]:
df = df.drop_duplicates(subset=['flight_number', 'departure_station_code','arrival_station_code','scheduled_departure_dtl','entree_product_id'])

In [10]:
df.to_csv('first.csv')

In [11]:
df=pd.read_csv("C:/Users/dell ap/Downloads/Datasets (1)e7e7eed/Datasets/Inflight Service_Pre order data.csv")

In [12]:
df.head(5)

,flight_number,departure_station_code,arrival_station_code,record_locator,carrier_code,scheduled_departure_dtl,cabin_code,meal_group,meal_category,meal_short_description,meal_description,is_entree,pre_order_qty
0,1423,INX,DEX,B3XX1H,UA,9/1/2022,J,ENTREES HOT,POULTRY,"Za'atar chicken with spinach, roasted peppers,...","Za'atar chicken with spinach, roasted peppers,...",Y,1
1,1620,IAX,CUX,BFXXJC,UA,9/2/2022,J,ENTREES HOT,BREAKFAST,Tomato and kale baked egg,Tomato and kale baked egg with fire roasted re...,Y,2
2,1852,ORX,PDX,DPXX2H,UA,9/2/2022,J,ENTREES HOT,BREAKFAST,Tomato and kale baked egg,Tomato and kale baked egg with fire roasted re...,Y,1
3,548,IAX,SFX,ELXX8H,UA,9/2/2022,J,ENTREES HOT,BREAKFAST,Scrambled eggs,"Scrambled eggs with ham, onion and peppers",Y,2
4,1155,IAX,CUX,NCXX4S,UA,9/2/2022,J,ENTREES HOT,BREAKFAST,Belgium waffle,Belgium waffle with bourbon banana fosters sau...,Y,2

In [13]:
df.dtypes

flight_number               int64
departure_station_code     object
arrival_station_code       object
record_locator             object
carrier_code               object
scheduled_departure_dtl    object
cabin_code                 object
meal_group                 object
meal_category              object
meal_short_description     object
meal_description           object
is_entree                  object
pre_order_qty               int64
dtype: object

In [14]:
df['scheduled_departure_dtl']=(df['scheduled_departure_dtl'].astype('datetime64'))
df['departure_station_code']=(df['departure_station_code'].astype('string'))
df['arrival_station_code']=(df['arrival_station_code'].astype('string'))
df['record_locator']=(df['record_locator'].astype('string'))
df['carrier_code']=(df['carrier_code'].astype('string'))
df['cabin_code']=(df['cabin_code'].astype('string'))
df['meal_group']=(df['meal_group'].astype('string'))
df['meal_category']=(df['meal_category'].astype('string'))
df['meal_short_description']=(df['meal_short_description'].astype('string'))
df['meal_description']=(df['meal_description'].astype('string'))
df['is_entree']=(df['is_entree'].astype('string'))

In [15]:
df.dtypes

flight_number                       int64
departure_station_code             string
arrival_station_code               string
record_locator                     string
carrier_code                       string
scheduled_departure_dtl    datetime64[ns]
cabin_code                         string
meal_group                         string
meal_category                      string
meal_short_description             string
meal_description                   string
is_entree                          string
pre_order_qty                       int64
dtype: object

In [16]:
df.head(5)

,flight_number,departure_station_code,arrival_station_code,record_locator,carrier_code,scheduled_departure_dtl,cabin_code,meal_group,meal_category,meal_short_description,meal_description,is_entree,pre_order_qty
0,1423,INX,DEX,B3XX1H,UA,2022-09-01,J,ENTREES HOT,POULTRY,"Za'atar chicken with spinach, roasted peppers,...","Za'atar chicken with spinach, roasted peppers,...",Y,1
1,1620,IAX,CUX,BFXXJC,UA,2022-09-02,J,ENTREES HOT,BREAKFAST,Tomato and kale baked egg,Tomato and kale baked egg with fire roasted re...,Y,2
2,1852,ORX,PDX,DPXX2H,UA,2022-09-02,J,ENTREES HOT,BREAKFAST,Tomato and kale baked egg,Tomato and kale baked egg with fire roasted re...,Y,1
3,548,IAX,SFX,ELXX8H,UA,2022-09-02,J,ENTREES HOT,BREAKFAST,Scrambled eggs,"Scrambled eggs with ham, onion and peppers",Y,2
4,1155,IAX,CUX,NCXX4S,UA,2022-09-02,J,ENTREES HOT,BREAKFAST,Belgium waffle,Belgium waffle with bourbon banana fosters sau...,Y,2

In [17]:
for i in df[df['meal_group'].isnull()].index:
    if(df['meal_short_description'][i]=='Sparkling Wine'):
        df['meal_group'][i]='ALCOHOL BEVERAGES'
    
    elif(df['meal_short_description'][i]=='I will decide onboard'):
        df['meal_group'][i]='None'

In [18]:
for i in df[df['meal_category'].isnull()].index:
    if(df['meal_short_description'][i]=='Sparkling Wine'):
        df['meal_category'][i]='GENERIC INT WINE A'
    
    elif(df['meal_short_description'][i]=='I will decide onboard'):
        df['meal_category'][i]='None'

In [19]:
df[df['meal_category'].isnull()]

,flight_number,departure_station_code,arrival_station_code,record_locator,carrier_code,scheduled_departure_dtl,cabin_code,meal_group,meal_category,meal_short_description,meal_description,is_entree,pre_order_qty
406,544,IAX,MCX,NCXXVN,UA,2022-09-24,J,<NA>,<NA>,I am a United Club member and will eat there b...,<NA>,<NA>,0
416,1491,PDX,ORX,O0XX0D,UA,2022-09-09,J,<NA>,<NA>,I would like to go directly to sleep,<NA>,<NA>,0
435,1658,EWX,SNX,E8XXQK,UA,2022-09-07,J,<NA>,<NA>,Asian Vegetarian Meal,<NA>,<NA>,0
439,1144,BOX,DEX,J0XXX6,UA,2022-09-09,J,<NA>,<NA>,I do not want to eat,<NA>,<NA>,0
446,2681,SEX,EWX,IDXXWW,UA,2022-09-02,J,<NA>,<NA>,Asian Vegetarian Meal,<NA>,<NA>,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
211685,312,BOX,LAX,C9XXKM,UA,2022-09-06,J,<NA>,<NA>,Gluten-free Meal,<NA>,<NA>,0
211708,1179,TPX,SFX,BFXXCR,UA,2022-09-10,J,<NA>,<NA>,I do not want to eat,<NA>,<NA>,0
211817,576,EWX,MSX,FFXX6E,UA,2022-09-11,J,<NA>,<NA>,I do not want to eat,<NA>,<NA>,0
211819,1951,KOX,SFX,CJXXS2,UA,2022-09-10,J,<NA>,<NA>,Vegetarian (Non-Dairy) Meal,<NA>,<NA>,0
211904,1182,LAX,IAX,NZXXL5,UA,2022-09-09,J,<NA>,<NA>,I do not want to eat,<NA>,<NA>,0

In [20]:
df['meal_category'].unique()

<StringArray>
[           'POULTRY',          'BREAKFAST',         'VEGETARIAN',
             'SNACKS',          'BEEF/VEAL',             'CHEESE',
              'PASTA',            'SEAFOOD',               'BEER',
           'SANDWICH',             'LIQUOR', 'GENERIC INT WINE A',
               'None',                 <NA>,          'VEGETABLE',
               'PORK',             'DINNER',            'VARIETY',
               'LAMB']
Length: 19, dtype: string

In [21]:
for i in df[df['meal_category']=='VEGETABLE'].index:
    df['meal_category'][i]='VEGETARIAN'

In [22]:
for i in df[df['meal_short_description']=='Asian Vegetarian Meal'].index:
    df['meal_category'][i]='VEGETARIAN'

In [23]:
for i in df[df['meal_short_description']=='Vegetarian (Non-Dairy) Meal'].index:
    df['meal_category'][i]='VEGETARIAN'

In [24]:
df['meal_category'].unique()

<StringArray>
[           'POULTRY',          'BREAKFAST',         'VEGETARIAN',
             'SNACKS',          'BEEF/VEAL',             'CHEESE',
              'PASTA',            'SEAFOOD',               'BEER',
           'SANDWICH',             'LIQUOR', 'GENERIC INT WINE A',
               'None',                 <NA>,               'PORK',
             'DINNER',            'VARIETY',               'LAMB']
Length: 18, dtype: string

In [25]:
df[df['meal_short_description']=='Asian Vegetarian Meal']

,flight_number,departure_station_code,arrival_station_code,record_locator,carrier_code,scheduled_departure_dtl,cabin_code,meal_group,meal_category,meal_short_description,meal_description,is_entree,pre_order_qty
435,1658,EWX,SNX,E8XXQK,UA,2022-09-07,J,<NA>,VEGETARIAN,Asian Vegetarian Meal,<NA>,<NA>,0
446,2681,SEX,EWX,IDXXWW,UA,2022-09-02,J,<NA>,VEGETARIAN,Asian Vegetarian Meal,<NA>,<NA>,0
621,308,SEX,EWX,GCXXD6,UA,2022-09-24,J,<NA>,VEGETARIAN,Asian Vegetarian Meal,<NA>,<NA>,0
1266,2472,SAX,EWX,BBXXXC,UA,2022-09-20,J,<NA>,VEGETARIAN,Asian Vegetarian Meal,<NA>,<NA>,0
1269,2084,UIX,IAX,P3XX7L,UA,2022-09-25,J,<NA>,VEGETARIAN,Asian Vegetarian Meal,<NA>,<NA>,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205846,2132,PHX,EWX,CRXXZ4,UA,2022-09-05,J,<NA>,VEGETARIAN,Asian Vegetarian Meal,<NA>,<NA>,0
207274,2132,PHX,EWX,J1XXF4,UA,2022-09-05,J,<NA>,VEGETARIAN,Asian Vegetarian Meal,<NA>,<NA>,0
207746,1640,OGX,SFX,DJXXQJ,UA,2022-09-05,J,<NA>,VEGETARIAN,Asian Vegetarian Meal,<NA>,<NA>,0
208446,1206,KOX,LAX,CXXXDB,UA,2022-09-28,J,<NA>,VEGETARIAN,Asian Vegetarian Meal,<NA>,<NA>,0
211362,1276,SEX,IAX,ICXXDP,UA,2022-09-28,J,<NA>,VEGETARIAN,Asian Vegetarian Meal,<NA>,<NA>,0

In [ ]:
df = df.drop_duplicates(subset=['flight_number', 'departure_station_code','arrival_station_code','scheduled_departure_dtl','record_locator','meal_short_description'])

In [103]:
df.to_csv('second.csv')

In [4]:
df=pd.read_csv("C:/Users/dell ap/Downloads/Datasets (1)e7e7eed/Datasets/Survey data _Customer comments.csv")

In [5]:
df.head(5)

,flight_number,origin_station_code,destination_station_code,scheduled_departure_date,arrival_delay_group,departure_delay_group,entity,verbatim_text,seat_factor_band,ques_verbatim_text,loyalty_program_level,fleet_type_description,fleet_usage,response_group
0,950,LHX,SFX,2022-09-01,Early & Ontime,Delayed,Atlantic,There was no salad dressing. The staff informe...,0 to 70,Is there anything else you'd like to share abo...,non-elite,B777-200,Mainline,member
1,950,LHX,SFX,2022-09-01,Early & Ontime,Delayed,Atlantic,Not a choice.,0 to 70,Is there anything else you'd like to share abo...,NaN,B777-200,Mainline,non-member
2,1876,FLX,EWX,2022-09-01,Early & Ontime,Early & Ontime,Domestic,More variety and bigger snacks.,90+,Is there anything else you'd like to share abo...,non-elite,A320-200,Mainline,member
3,5469,SFX,SEX,2022-09-01,Early & Ontime,Early & Ontime,Domestic,Serving pretzels and cookies in first class wa...,90+,Is there anything else you'd like to share abo...,premier gold,ERJ-175,Express,member
4,281,DEX,ANX,2022-09-01,Early & Ontime,Early & Ontime,Domestic,More inflight selections to purchase for full ...,0 to 70,Is there anything else you'd like to share abo...,non-elite,B737-MAX8,Mainline,member

In [6]:
df['ques_verbatim_text'].unique()

array(["Is there anything else you'd like to share about the food & beverage served on your flight from [CITY] to [CITY]?"],
      dtype=object)

In [7]:
df=df.drop(['ques_verbatim_text'], axis=1)
df.head(5)

,flight_number,origin_station_code,destination_station_code,scheduled_departure_date,arrival_delay_group,departure_delay_group,entity,verbatim_text,seat_factor_band,loyalty_program_level,fleet_type_description,fleet_usage,response_group
0,950,LHX,SFX,2022-09-01,Early & Ontime,Delayed,Atlantic,There was no salad dressing. The staff informe...,0 to 70,non-elite,B777-200,Mainline,member
1,950,LHX,SFX,2022-09-01,Early & Ontime,Delayed,Atlantic,Not a choice.,0 to 70,NaN,B777-200,Mainline,non-member
2,1876,FLX,EWX,2022-09-01,Early & Ontime,Early & Ontime,Domestic,More variety and bigger snacks.,90+,non-elite,A320-200,Mainline,member
3,5469,SFX,SEX,2022-09-01,Early & Ontime,Early & Ontime,Domestic,Serving pretzels and cookies in first class wa...,90+,premier gold,ERJ-175,Express,member
4,281,DEX,ANX,2022-09-01,Early & Ontime,Early & Ontime,Domestic,More inflight selections to purchase for full ...,0 to 70,non-elite,B737-MAX8,Mainline,member

In [8]:
df.dtypes

flight_number                int64
origin_station_code         object
destination_station_code    object
scheduled_departure_date    object
arrival_delay_group         object
departure_delay_group       object
entity                      object
verbatim_text               object
seat_factor_band            object
loyalty_program_level       object
fleet_type_description      object
fleet_usage                 object
response_group              object
dtype: object

In [9]:
df['scheduled_departure_date']=(df['scheduled_departure_date'].astype('datetime64'))
df['destination_station_code']=(df['destination_station_code'].astype('string'))
df['origin_station_code']=(df['origin_station_code'].astype('string'))
df['arrival_delay_group']=(df['arrival_delay_group'].astype('string'))
df['departure_delay_group']=(df['departure_delay_group'].astype('string'))
df['entity']=(df['entity'].astype('string'))
df['verbatim_text']=(df['verbatim_text'].astype('string'))
df['seat_factor_band']=(df['seat_factor_band'].astype('string'))
df['loyalty_program_level']=(df['loyalty_program_level'].astype('string'))
df['fleet_type_description']=(df['fleet_type_description'].astype('string'))
df['fleet_usage']=(df['fleet_usage'].astype('string'))
df['response_group']=(df['response_group'].astype('string'))

In [10]:
df.dtypes

flight_number                        int64
origin_station_code                 string
destination_station_code            string
scheduled_departure_date    datetime64[ns]
arrival_delay_group                 string
departure_delay_group               string
entity                              string
verbatim_text                       string
seat_factor_band                    string
loyalty_program_level               string
fleet_type_description              string
fleet_usage                         string
response_group                      string
dtype: object

In [11]:
df[df['loyalty_program_level'].isnull()].head(5)

,flight_number,origin_station_code,destination_station_code,scheduled_departure_date,arrival_delay_group,departure_delay_group,entity,verbatim_text,seat_factor_band,loyalty_program_level,fleet_type_description,fleet_usage,response_group
1,950,LHX,SFX,2022-09-01,Early & Ontime,Delayed,Atlantic,Not a choice.,0 to 70,<NA>,B777-200,Mainline,non-member
5,1726,SFX,OGX,2022-09-01,Early & Ontime,Early & Ontime,Domestic,Hot food options would be nice.,90+,<NA>,B777-200,Mainline,non-member
6,929,LHX,ORX,2022-09-01,Early & Ontime,Early & Ontime,Atlantic,"Ok, better than most United flights I have bee...",0 to 70,<NA>,B767-300,Mainline,non-member
11,1635,MCX,IAX,2022-09-02,Early & Ontime,Early & Ontime,Domestic,no.,80+,<NA>,B737-900,Mainline,non-member
14,1231,YVX,SFX,2022-09-02,Early & Ontime,Early & Ontime,Domestic,Out of apple juice.,0 to 70,<NA>,B737-900,Mainline,non-member

In [12]:
df = df.drop_duplicates(subset=['flight_number', 'origin_station_code','destination_station_code','scheduled_departure_date'])

In [13]:
df.to_csv('third.csv')

In [14]:
df=pd.read_csv("C:/Users/dell ap/Downloads/Datasets (1)e7e7eed/Datasets/Survey data_Inflight Satisfaction Score.csv")

In [15]:
df.head(5)

,flight_number,origin_station_code,destination_station_code,record_locator,scheduled_departure_date,question_text,score,satisfaction_type,driver_sub_group1,driver_sub_group2,...,equipment_type_code,ua_uax,actual_flown_miles,haul_type,departure_gate,arrival_gate,international_domestic_indicator,response_group,media_provider,hub_spoke
0,3802,MKX,ORX,CYXXJJ,9/1/2022,How satisfied were you with the food & beverag...,2,Dissatisfied,food & beverage,food and beverage satisfaction,...,CRZ,UAX,67,Short,C12,F10,Domestic,non-member,NaN,spoke departure
1,4645,COX,DEX,DRXXMH,9/1/2022,How satisfied were you with the food & beverag...,5,Satisfied,food & beverage,food and beverage satisfaction,...,E75,UAX,72,Short,5,B60,Domestic,member,GOGO,spoke departure
2,5236,COX,DEX,DEXXS1,9/1/2022,How satisfied were you with the food & beverag...,5,Satisfied,food & beverage,food and beverage satisfaction,...,E75,UAX,72,Short,7,A71,Domestic,member,GOGO,spoke departure
3,4686,DEX,COX,PXXXLH,9/1/2022,How satisfied were you with the food & beverag...,3,Dissatisfied,food & beverage,food and beverage satisfaction,...,CRJ,UAX,72,Short,B82,5,Domestic,member,NaN,hub departure
4,671,DEX,COX,KZXXH5,9/1/2022,How satisfied were you with the food & beverag...,5,Satisfied,food & beverage,food and beverage satisfaction,...,19F,UA,72,Short,B24,3,Domestic,member,PANASONIC,hub departure

In [16]:
df['driver_sub_group1'].unique()

array(['food & beverage'], dtype=object)

In [17]:
df=df.drop(['driver_sub_group1'], axis=1)

In [18]:
df['satisfaction_type'].unique()

array(['Dissatisfied', 'Satisfied', nan], dtype=object)

In [19]:
df.dtypes

flight_number                        int64
origin_station_code                 object
destination_station_code            object
record_locator                      object
scheduled_departure_date            object
question_text                       object
score                               object
satisfaction_type                   object
driver_sub_group2                   object
arrival_delay_minutes                int64
arrival_delay_group                 object
cabin_code_desc                     object
cabin_name                          object
entity                              object
number_of_legs                       int64
seat_factor_band                    object
loyalty_program_level               object
generation                          object
fleet_type_description              object
fleet_usage                         object
equipment_type_code                 object
ua_uax                              object
actual_flown_miles                   int64
haul_type                           object
departure_gate                      object
arrival_gate                        object
international_domestic_indicator    object
response_group                      object
media_provider                      object
hub_spoke                           object
dtype: object

In [20]:
df['scheduled_departure_date']=(df['scheduled_departure_date'].astype('datetime64'))
df['origin_station_code']=(df['origin_station_code'].astype('string'))
df['record_locator']=(df['record_locator'].astype('string'))
df['driver_sub_group2']=(df['driver_sub_group2'].astype('string'))
df['arrival_delay_group']=(df['arrival_delay_group'].astype('string'))
df['cabin_code_desc']=(df['cabin_code_desc'].astype('string'))
df['entity']=(df['entity'].astype('string'))
df['cabin_name']=(df['cabin_name'].astype('string'))
df['seat_factor_band']=(df['seat_factor_band'].astype('string'))
df['loyalty_program_level']=(df['loyalty_program_level'].astype('string'))
df['generation']=(df['generation'].astype('string'))
df['fleet_type_description']=(df['fleet_type_description'].astype('string'))
df['fleet_usage']=(df['fleet_usage'].astype('string'))
df['equipment_type_code']=(df['equipment_type_code'].astype('string'))
df['ua_uax']=(df['ua_uax'].astype('string'))
df['response_group']=(df['response_group'].astype('string'))
df['international_domestic_indicator']=(df['international_domestic_indicator'].astype('string'))
df['arrival_gate']=(df['arrival_gate'].astype('string'))
df['departure_gate']=(df['departure_gate'].astype('string'))
df['haul_type']=(df['haul_type'].astype('string'))
df['media_provider']=(df['media_provider'].astype('string'))
df['hub_spoke']=(df['hub_spoke'].astype('string'))
df['satisfaction_type']=(df['satisfaction_type'].astype('string'))
df['question_text']=(df['question_text'].astype('string'))
df['destination_station_code']=(df['destination_station_code'].astype('string'))

In [21]:
df1=df[df['satisfaction_type'].isnull()]
df2=df[df['satisfaction_type'].notnull()]

In [22]:
df1=df1.drop(['satisfaction_type'],axis=1)

In [23]:
df2.dtypes

flight_number                                int64
origin_station_code                         string
destination_station_code                    string
record_locator                              string
scheduled_departure_date            datetime64[ns]
question_text                               string
score                                       object
satisfaction_type                           string
driver_sub_group2                           string
arrival_delay_minutes                        int64
arrival_delay_group                         string
cabin_code_desc                             string
cabin_name                                  string
entity                                      string
number_of_legs                               int64
seat_factor_band                            string
loyalty_program_level                       string
generation                                  string
fleet_type_description                      string
fleet_usage                                 string
equipment_type_code                         string
ua_uax                                      string
actual_flown_miles                           int64
haul_type                                   string
departure_gate                              string
arrival_gate                                string
international_domestic_indicator            string
response_group                              string
media_provider                              string
hub_spoke                                   string
dtype: object

In [24]:
df2['score']=(df2['score'].astype('int64'))
df1['score']=(df1['score'].astype('string'))
df2['score'].unique()

C:\Users\dell ap\AppData\Local\Temp\ipykernel_8236\3318022869.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['score']=(df2['score'].astype('int64'))

array([2, 5, 3, 1, 4], dtype=int64)

In [25]:
df1['question_text'].unique()

<StringArray>
['What item did you choose?']
Length: 1, dtype: string

In [26]:
df2['question_text'].unique()

<StringArray>
['How satisfied were you with the food & beverage served on your flight from [CITY] to [CITY]?']
Length: 1, dtype: string

In [27]:
df1=df1.drop(['question_text'],axis=1)
df2=df2.drop(['question_text'],axis=1)

In [28]:
df1['driver_sub_group2'].unique()

<StringArray>
['comp']
Length: 1, dtype: string

In [29]:
df2['driver_sub_group2'].unique()

<StringArray>
['food and beverage satisfaction']
Length: 1, dtype: string

In [30]:
df1=df1.drop(['driver_sub_group2'],axis=1)
df2=df2.drop(['driver_sub_group2'],axis=1)

In [31]:
df1['cabin_name'].unique()

<StringArray>
[<NA>, 'Economy', 'Economy Plus']
Length: 3, dtype: string

In [32]:
for i in df1[df1['cabin_name'].isnull()].index:
    df1['cabin_name'][i]=df1['cabin_code_desc'][i]

In [33]:
df1['cabin_name'].unique()

<StringArray>
['Business', 'Economy', 'Economy Plus', 'United Premium Plus']
Length: 4, dtype: string

In [34]:
for i in df2[df2['cabin_name'].isnull()].index:
    df2['cabin_name'][i]=df2['cabin_code_desc'][i]

In [35]:
df1=df1.drop(['cabin_code_desc'],axis=1)
df2=df2.drop(['cabin_code_desc'],axis=1)

In [36]:
for i in df2[df2['loyalty_program_level'].isnull()].index:
    df2['loyalty_program_level'][i]="Non-Members"

In [37]:
for i in df1[df1['loyalty_program_level'].isnull()].index:
    df1['loyalty_program_level'][i]="Non-Members"

In [40]:
df2 = df2.drop_duplicates(subset=['flight_number', 'origin_station_code','destination_station_code','scheduled_departure_date','record_locator'])
df2=df2[df2['scheduled_departure_date'].notnull()]

In [42]:
df1.to_csv('fourth_one.csv')
df2.to_csv('fourth_two.csv')